.buttonsWrap {
  display: flex;
  gap: 15px;
}
.button {
  margin-top: 20px;

  width: 140px;
  background-color: rgb(238, 157, 228);
  font-size: 20px;
  margin-right: 10px;
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}
.button:hover {
  transform: scale(0.95);
  background-color: rgb(211, 107, 243);
}
